
/* Need to make more than one Battlecruiser hitbox to conform to the shape better, so there are no gaps.*/

#battleCruiserHitBox {
    color: white;
    border: solid black;
    display: center;
    margin-top: 500px;
    margin-left: 1050px;
    margin-right: 980px;
    height: 550px;
    width: auto;
}
#battleCruiserImage {
    height: auto;
    width: 475px;
    margin-left: 18px;
}
#battleCruiserImageContainer {
    height: null;
}
body {
    background-color: black;
}
#scoreDisplay {
    color: white;
    display: flex;
    margin-left: 450px;
}
#scoreValue {
    color: white;
    display: flex;
    margin-left: 450px;
}
#optionsMenuButton {
    color: lightblue;
    border: solid darkcyan;
    background-color: black;
    display: flex;
    margin-left: 450px;
}
.scourge {
    height: auto;
    width: 60px;
    margin-left: 450px;
}
#scourgeSpawnArea {
    color: white;
}
#tarsonis {
    position: absolute; 
    top: 60%; 
    left: 80%; 
    transform: translate(-50%, -50%); 
}
