
#battleCruiserHitBox {
    color: white;
    border: solid black;
    display: center;
    margin-top: 500px;
    margin-left: 1050px;
    margin-right: 980px;
    height: 550px;
    width: auto;
}
#battleCruiserImage {
    height: auto;
    width: 475px;
    margin-left: 18px;
}
#battleCruiserImageContainer {
    height: null;
}
body {
    background-color: black;
}
#scoreDisplay {
    color: white;
    display: flex;
    margin-left: 450px;
}
#scoreValue {
    color: white;
    display: flex;
    margin-left: 450px;
}
#optionsMenuButton {
    color: lightblue;
    border: solid darkcyan;
    background-color: black;
    display: flex;
    margin-left: 450px;
}
#healthDisplay {
    color: white;
}
.scourge {
    height: auto;
    width: 60px;
    margin-left: 0px;
}
#scourgeSpawnArea {
    color: white;
}
#tarsonis {
    position: absolute; 
    top: 60%; 
    left: 80%; 
    transform: translate(-50%, -50%); 
}
.laser {
    position: absolute;
    width: 0;
    height: 0;
    border-left: 2px solid transparent;
    border-right: 2px solid transparent;
    border-top: 100px solid white; /* Change to top border */
    transform-origin: top; /* Change the rotation origin to the top */
}
.asteroid {
    position: absolute; /* Ensure asteroids are absolutely positioned */
    margin-left: 0; /* Reset the margin-left */
    margin-top: 0; /* Reset the margin-top */
}
#battleCruiserHitBox {
    margin-top: 500px;
    margin-left: 1050px;
}

#scoreDisplay {
    margin-left: 450px;
}

#optionsMenuButton {
    margin-left: 450px;
}

.scourge {
    margin-left: 0px;
}

